.customNav {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0,0,0,.3);
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
}

.logo {
  cursor: pointer;
  width: 20%;
  height: auto;
  position: absolute;
  left: -10px;
  top: 13px;
  opacity: 1;
}

.nav {
  margin: 0 20px 0 0 !important;
}

/* the --main-color is a css variable found in index.css */
.nav a {
  color: var(--main-color) !important;
}

.nav a:hover,
.nav li:global(.active) a {
  background-color: rgba(0, 0, 0, 0) !important;
  color: var(--second-color) !important;
}

@media(max-width: 768px) {
  .logo {
    height: 45px;
    top: 5px;
    left: 1px;
    width: auto;
  }
}

@media(min-width: 768px) {
  .customNav {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .logo {
    z-index: 1;
    height: 90%;
    width: auto;
    position: absolute;
    left: -10px;
    top: 5%;
    opacity: 1;
    transition: opacity 0.5s;
  }

  .customNav.topNavCollapse {
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,.3);
    background: #fff;
  }
}