.imageContainer {
  width: 100%;
  position: relative;
  height: 25vw;
}

.introMask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
}

.imageParallax {
  z-index: -1;
  position: absolute;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  background: black 50% 0;
  background-size: cover;
  transition: background-image 1s ease-in;
  transition-delay: 2s;
}

@media (max-width: 768px) {
  .imageContainer {
    height: 35vw;
  }
}