.aboutContainer {
  width: 65%;
  margin-top: 20px;
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.aboutContainer > p {
  font-weight: 100;
  line-height: 1.6;
}

.header {
  margin-top: 100px;
  margin-bottom: 1vw;
  font-size: 2.75em;
  width: 100%;
  padding: 0.25em;
  background-color: #eee;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #000;
  font-weight: 100;
}

.image {
  width: 25vw;
  height: auto;
  clear: both;
  margin: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.image.left {
  float: left;
  margin-right: 2em;
  clear: left;
}

.image.right {
  float: right;
  margin-left: 2em;
}

@media(max-width:768px) {
  .aboutContainer {
    width: 80% !important;
  }
}