.imageThumbnailContainer {
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: auto;
  width: auto;
  margin: 15px;
  cursor: pointer;
  display: inline-block;
  transition: border 0.2s;
  -webkit-transition: border 0.2s;
}

.imageThumbnailContainer:hover {
  border: 2px solid #b2020;
}

.thumbnail {
  height: 88px;
  width: auto;
}