.galleryContent {
  width: 75%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media(max-width:768px) {
  .galleryContent {
    width: 100% !important;
  }
}