.slideshowFullOuter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.loadingText {
  margin: auto 0;
  text-align: center;
}

.fullImage {
  max-height: 90%;
  max-width: 90%;
  cursor: pointer;
  pointer-events: auto;
}

.imageClose {
  border: none;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.8;
  cursor: pointer;
  color: #000;
  transition: none;
}

.imageClose:hover {
  opacity: 1;
  text-decoration: underline;
}

.fullArrow {
  font-size: 150px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main-color);
  opacity: 0.8;
  cursor: pointer;
  transition: none;
}

.leftArrow {
  left: 15px;
}

.rightArrow {
  right: 15px;
}

.fullArrow:hover {
  opacity: 1;
  color: var(--main-color);
}

@media(max-width:768px)  {
  .fullArrow {
    /* TODO: make more dynamic */
    font-size: 75px;
  }
}