.page-title {
  position: absolute;
  font-size: 10vw;
  font-weight: 100;
  text-align: center;
  display: block;
  left: 0;
  right: 0;
  top: calc(5vw + 50px);
  color: #000;
}

@media(max-width:768px) {
  .page-title {
    font-size: 15vw !important;
    top: calc(5vw + 50px) !important;
  }
}

@media(max-width:450px) {
  .page-title {
    font-size: 7.5vw;
    top: calc(4vw + 50px);
  }
}