.socialMedia {
  height: 10vh;
  width: 30vw;
}

/* TODO: use flex instead */
.absolute {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2em;
}

.inline {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}

.email {
  font-size: 1em;
  text-align: center;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9vh;
  position: absolute;
  color: var(--main-color);
}

.email:hover {
  color: var(--second-color);
}

@media(max-width:768px) {
  .socialMedia {
    width: 80vw;
  }
}
